USE [master]
GO
/****** Object:  Database [Oven_Delights_Main]    Script Date: 07 Aug 2025 03:04:58 ******/
CREATE DATABASE [Oven_Delights_Main]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Oven_Delights_Main].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Oven_Delights_Main]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[Prefix] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[DocumentNumbering]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentNumbering](
	[DocumentType] [varchar](20) NOT NULL,
	[Prefix] [varchar](10) NOT NULL,
	[NextNumber] [int] NOT NULL DEFAULT ((1)),
	[NumberLength] [int] NOT NULL DEFAULT ((6)),
	[BranchSpecific] [bit] NULL DEFAULT ((1)),
	[LastUsedNumber] [varchar](50) NULL,
	[LastUsedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL DEFAULT (getdate()),
	[ModifiedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FiscalPeriods]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiscalPeriods](
	[PeriodID] [int] IDENTITY(1,1) NOT NULL,
	[PeriodName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsClosed] [bit] NULL DEFAULT ((0)),
	[ClosedDate] [datetime] NULL,
	[ClosedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[GLAccounts]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GLAccounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](20) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [varchar](20) NOT NULL,
	[BalanceType] [char](1) NOT NULL,
	[ParentAccountID] [int] NULL,
	[IsSystem] [bit] NULL DEFAULT ((0)),
	[IsActive] [bit] NULL DEFAULT ((1)),
	[OpeningBalance] [decimal](18, 2) NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JournalDetails]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalDetails](
	[JournalDetailID] [int] IDENTITY(1,1) NOT NULL,
	[JournalID] [int] NOT NULL,
	[LineNumber] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Debit] [decimal](18, 2) NULL,
	[Credit] [decimal](18, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[Reference1] [nvarchar](50) NULL,
	[Reference2] [nvarchar](50) NULL,
	[CostCenterID] [int] NULL,
	[ProjectID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JournalDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[JournalHeaders]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JournalHeaders](
	[JournalID] [int] IDENTITY(1,1) NOT NULL,
	[JournalNumber] [varchar](20) NOT NULL,
	[JournalDate] [date] NOT NULL,
	[Reference] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[FiscalPeriodID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[IsPosted] [bit] NULL,
	[PostedDate] [datetime] NULL,
	[PostedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JournalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Users]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[BranchID] [int] NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((1)),
	[FailedLoginAttempts] [int] NOT NULL DEFAULT ((0)),
	[LastFailedLogin] [datetime] NULL,
	[PasswordLastChanged] [datetime] NULL,
	[TwoFactorEnabled] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Index [IX_JournalDetails_AccountID]    Script Date: 07 Aug 2025 03:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_JournalDetails_AccountID] ON [dbo].[JournalDetails]
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [IX_JournalHeaders_Period_Branch]    Script Date: 07 Aug 2025 03:04:58 ******/
CREATE NONCLUSTERED INDEX [IX_JournalHeaders_Period_Branch] ON [dbo].[JournalHeaders]
(
	[FiscalPeriodID] ASC,
	[BranchID] ASC,
	[IsPosted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[JournalDetails] ADD  DEFAULT ((0)) FOR [Debit]
GO
ALTER TABLE [dbo].[JournalDetails] ADD  DEFAULT ((0)) FOR [Credit]
GO
ALTER TABLE [dbo].[JournalHeaders] ADD  DEFAULT ((0)) FOR [IsPosted]
GO
ALTER TABLE [dbo].[DocumentNumbering]  WITH CHECK ADD  CONSTRAINT [FK_DocumentNumbering_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DocumentNumbering] CHECK CONSTRAINT [FK_DocumentNumbering_ModifiedBy]
GO
ALTER TABLE [dbo].[FiscalPeriods]  WITH CHECK ADD  CONSTRAINT [FK_FiscalPeriods_ClosedBy] FOREIGN KEY([ClosedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[FiscalPeriods] CHECK CONSTRAINT [FK_FiscalPeriods_ClosedBy]
GO
ALTER TABLE [dbo].[GLAccounts]  WITH CHECK ADD  CONSTRAINT [FK_GLAccounts_ParentAccountID] FOREIGN KEY([ParentAccountID])
REFERENCES [dbo].[GLAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[GLAccounts] CHECK CONSTRAINT [FK_GLAccounts_ParentAccountID]
GO
ALTER TABLE [dbo].[JournalDetails]  WITH CHECK ADD  CONSTRAINT [FK_JournalDetails_AccountID] FOREIGN KEY([AccountID])
REFERENCES [dbo].[GLAccounts] ([AccountID])
GO
ALTER TABLE [dbo].[JournalDetails] CHECK CONSTRAINT [FK_JournalDetails_AccountID]
GO
ALTER TABLE [dbo].[JournalDetails]  WITH CHECK ADD  CONSTRAINT [FK_JournalDetails_JournalID] FOREIGN KEY([JournalID])
REFERENCES [dbo].[JournalHeaders] ([JournalID])
GO
ALTER TABLE [dbo].[JournalDetails] CHECK CONSTRAINT [FK_JournalDetails_JournalID]
GO
ALTER TABLE [dbo].[JournalHeaders]  WITH CHECK ADD  CONSTRAINT [FK_JournalHeaders_BranchID] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([ID])
GO
ALTER TABLE [dbo].[JournalHeaders] CHECK CONSTRAINT [FK_JournalHeaders_BranchID]
GO
ALTER TABLE [dbo].[JournalHeaders]  WITH CHECK ADD  CONSTRAINT [FK_JournalHeaders_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[JournalHeaders] CHECK CONSTRAINT [FK_JournalHeaders_CreatedBy]
GO
ALTER TABLE [dbo].[JournalHeaders]  WITH CHECK ADD  CONSTRAINT [FK_JournalHeaders_FiscalPeriodID] FOREIGN KEY([FiscalPeriodID])
REFERENCES [dbo].[FiscalPeriods] ([PeriodID])
GO
ALTER TABLE [dbo].[JournalHeaders] CHECK CONSTRAINT [FK_JournalHeaders_FiscalPeriodID]
GO
ALTER TABLE [dbo].[JournalHeaders]  WITH CHECK ADD  CONSTRAINT [FK_JournalHeaders_PostedBy] FOREIGN KEY([PostedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[JournalHeaders] CHECK CONSTRAINT [FK_JournalHeaders_PostedBy]
GO
ALTER TABLE [dbo].[FiscalPeriods]  WITH CHECK ADD  CONSTRAINT [CHK_ValidPeriod] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[FiscalPeriods] CHECK CONSTRAINT [CHK_ValidPeriod]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddJournalDetail]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Add Journal Detail Line
CREATE   PROCEDURE [dbo].[sp_AddJournalDetail]
    @JournalID INT,
    @AccountID INT,
    @Debit DECIMAL(18,2) = 0,
    @Credit DECIMAL(18,2) = 0,
    @Description NVARCHAR(255) = NULL,
    @Reference1 NVARCHAR(50) = NULL,
    @Reference2 NVARCHAR(50) = NULL,
    @CostCenterID INT = NULL,
    @ProjectID INT = NULL,
    @LineNumber INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @LineNumber = ISNULL(MAX(LineNumber), 0) + 1 
    FROM JournalDetails 
    WHERE JournalID = @JournalID;
    INSERT INTO JournalDetails (
        JournalID, LineNumber, AccountID, Debit, Credit,
        Description, Reference1, Reference2, CostCenterID, ProjectID
    )
    VALUES (
        @JournalID, @LineNumber, @AccountID, @Debit, @Credit,
        @Description, @Reference1, @Reference2, @CostCenterID, @ProjectID
    );
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateJournalEntry]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Create Journal Entry
CREATE   PROCEDURE [dbo].[sp_CreateJournalEntry]
    @JournalDate DATE,
    @Reference NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @FiscalPeriodID INT,
    @CreatedBy INT,
    @BranchID INT,
    @JournalID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @JournalNumber VARCHAR(20);
    DECLARE @NextNumber INT;
    BEGIN TRANSACTION;
    UPDATE DocumentNumbering WITH (TABLOCK)
    SET @NextNumber = NextNumber,
        @JournalNumber = Prefix + RIGHT('000000' + CAST(NextNumber AS VARCHAR(10)), NumberLength),
        NextNumber = NextNumber + 1,
        LastUsedNumber = Prefix + RIGHT('000000' + CAST(NextNumber AS VARCHAR(10)), NumberLength),
        LastUsedDate = GETDATE(),
        ModifiedDate = GETDATE(),
        ModifiedBy = @CreatedBy
    WHERE DocumentType = 'JN';
    INSERT INTO JournalHeaders (
        JournalNumber, JournalDate, Reference, Description, 
        FiscalPeriodID, CreatedBy, BranchID
    )
    VALUES (
        @JournalNumber, @JournalDate, @Reference, @Description,
        @FiscalPeriodID, @CreatedBy, @BranchID
    );
    SET @JournalID = SCOPE_IDENTITY();
    COMMIT TRANSACTION;
    -- Use OUTPUT param, not RETURN value
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateTrialBalance]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Generate Trial Balance
CREATE   PROCEDURE [dbo].[sp_GenerateTrialBalance]
    @AsOfDate DATE = NULL,
    @BranchID INT = NULL,
    @IncludeZeroBalances BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    IF @AsOfDate IS NULL
        SET @AsOfDate = GETDATE();
    DECLARE @FiscalPeriodID INT;
    SELECT TOP 1 @FiscalPeriodID = PeriodID
    FROM FiscalPeriods
    WHERE @AsOfDate BETWEEN StartDate AND EndDate
    ORDER BY PeriodID DESC;
    IF @FiscalPeriodID IS NULL
    BEGIN
        RAISERROR('No fiscal period found for the specified date.', 16, 1);
        RETURN;
    END;
    SELECT 
        a.AccountNumber,
        a.AccountName,
        a.AccountType,
        ISNULL(ab.OpeningBalance, 0) AS OpeningBalance,
        ISNULL(ab.DebitTotal, 0) AS DebitTotal,
        ISNULL(ab.CreditTotal, 0) AS CreditTotal,
        CASE 
            WHEN a.BalanceType = 'D' THEN 
                ISNULL(ab.OpeningBalance, 0) + ISNULL(ab.DebitTotal, 0) - ISNULL(ab.CreditTotal, 0)
            ELSE
                ISNULL(ab.OpeningBalance, 0) + ISNULL(ab.CreditTotal, 0) - ISNULL(ab.DebitTotal, 0)
        END AS CurrentBalance
    FROM GLAccounts a
    LEFT JOIN AccountBalances ab ON a.AccountID = ab.AccountID 
        AND ab.FiscalPeriodID = @FiscalPeriodID
        AND (@BranchID IS NULL OR ab.BranchID = @BranchID)
    WHERE a.IsActive = 1
        AND (@IncludeZeroBalances = 1 OR 
             (ISNULL(ab.DebitTotal, 0) <> 0 OR ISNULL(ab.CreditTotal, 0) <> 0 OR 
              ISNULL(ab.OpeningBalance, 0) <> 0))
    ORDER BY a.AccountNumber;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextDocumentNumber]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetNextDocumentNumber]
    @DocumentType VARCHAR(20),
    @BranchID INT = NULL,
    @UserID INT = NULL,
    @NextDocNumber VARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NextNumber INT;
    DECLARE @Prefix VARCHAR(20);
    DECLARE @NumberLength INT;
    DECLARE @BranchPrefix VARCHAR(10) = '';
    DECLARE @UserRoleCode VARCHAR(5) = '';
    IF @BranchID IS NOT NULL
    BEGIN
        SELECT @BranchPrefix = ISNULL(Prefix, '') + '-'
        FROM Branches 
        WHERE ID = @BranchID;
    END
    IF @UserID IS NOT NULL
    BEGIN
        SELECT @UserRoleCode = 
            CASE 
                WHEN r.RoleName = 'Super-Admin' THEN 'SA'
                WHEN r.RoleName = 'Admin' THEN 'A'
                WHEN r.RoleName = 'Stockroom-Manager' THEN 'SM'
                WHEN r.RoleName = 'Manufacturing-Manager' THEN 'MM'
                WHEN r.RoleName = 'Retail-Manager' THEN 'RM'
                ELSE ''
            END + '-'
        FROM Users u
        JOIN Roles r ON u.RoleID = r.RoleID
        WHERE u.UserID = @UserID;
    END
    UPDATE DocumentNumbering WITH (TABLOCK)
    SET @NextNumber = NextNumber,
        @Prefix = Prefix,
        @NumberLength = NumberLength,
        NextNumber = NextNumber + 1,
        LastUsedNumber = @BranchPrefix + @UserRoleCode + Prefix + RIGHT('000000' + CAST(NextNumber AS VARCHAR(10)), NumberLength),
        LastUsedDate = GETDATE(),
        ModifiedDate = GETDATE(),
        ModifiedBy = @UserID
    WHERE DocumentType = @DocumentType;
    SELECT @NextNumber = NextNumber, @Prefix = Prefix, @NumberLength = NumberLength FROM DocumentNumbering WHERE DocumentType = @DocumentType;
    SET @NextDocNumber = @BranchPrefix + @UserRoleCode + @Prefix + RIGHT('000000' + CAST(@NextNumber-1 AS VARCHAR(10)), @NumberLength);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_PostJournal]    Script Date: 07 Aug 2025 03:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Post Journal
CREATE   PROCEDURE [dbo].[sp_PostJournal]
    @JournalID INT,
    @PostedBy INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @FiscalPeriodID INT;
    DECLARE @BranchID INT;
    DECLARE @IsPosted BIT;
    SELECT 
        @FiscalPeriodID = FiscalPeriodID,
        @BranchID = BranchID,
        @IsPosted = IsPosted
    FROM JournalHeaders
    WHERE JournalID = @JournalID;
    IF @IsPosted = 1
    BEGIN
        RAISERROR('Journal has already been posted.', 16, 1);
        RETURN;
    END;
    IF EXISTS (SELECT 1 FROM FiscalPeriods WHERE PeriodID = @FiscalPeriodID AND IsClosed = 1)
    BEGIN
        RAISERROR('Cannot post to a closed fiscal period.', 16, 1);
        RETURN;
    END;
    IF NOT EXISTS (
        SELECT 1
        FROM (
            SELECT SUM(Debit) AS TotalDebit, SUM(Credit) AS TotalCredit
            FROM JournalDetails
            WHERE JournalID = @JournalID
        ) AS T
        WHERE TotalDebit = TotalCredit
    )
    BEGIN
        RAISERROR('Journal is not balanced. Debits must equal credits.', 16, 1);
        RETURN;
    END;
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE JournalHeaders
        SET IsPosted = 1,
            PostedDate = GETDATE(),
            PostedBy = @PostedBy
        WHERE JournalID = @JournalID;
        MERGE AccountBalances AS target
        USING (
            SELECT 
                AccountID,
                SUM(Debit) AS Debit,
                SUM(Credit) AS Credit
            FROM JournalDetails
            WHERE JournalID = @JournalID
            GROUP BY AccountID
        ) AS source
        ON target.AccountID = source.AccountID 
           AND target.FiscalPeriodID = @FiscalPeriodID
           AND target.BranchID = @BranchID
        WHEN MATCHED THEN
            UPDATE SET 
                DebitTotal = target.DebitTotal + source.Debit,
                CreditTotal = target.CreditTotal + source.Credit,
                LastUpdated = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (AccountID, FiscalPeriodID, BranchID, DebitTotal, CreditTotal)
            VALUES (source.AccountID, @FiscalPeriodID, @BranchID, source.Debit, source.Credit);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END

GO
USE [master]
GO
