-- =============================================
-- ADD DISPLAYORDER COLUMN TO BOM TABLES
-- =============================================
-- Adds DisplayOrder column to allow custom sorting of ingredients
-- in sub-recipes and product recipes
-- =============================================

PRINT '========================================='
PRINT 'ADDING DISPLAYORDER TO BOM TABLES'
PRINT '========================================='
PRINT ''

-- Add DisplayOrder to Demo_SubRecipe_BOM
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_SubRecipe_BOM') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Adding DisplayOrder column to Demo_SubRecipe_BOM...'
    ALTER TABLE Demo_SubRecipe_BOM
    ADD DisplayOrder INT NULL
    
    PRINT 'Γ£ô DisplayOrder added to Demo_SubRecipe_BOM'
    PRINT ''
END
ELSE
BEGIN
    PRINT 'DisplayOrder already exists in Demo_SubRecipe_BOM'
    PRINT ''
END
GO

-- Set initial DisplayOrder values for Demo_SubRecipe_BOM
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_SubRecipe_BOM') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Setting initial DisplayOrder values for Demo_SubRecipe_BOM based on Quantity...'
    ;WITH OrderedBOM AS (
        SELECT 
            BOMLineID,
            ROW_NUMBER() OVER (PARTITION BY SubRecipeID ORDER BY Quantity DESC) AS RowNum
        FROM Demo_SubRecipe_BOM
    )
    UPDATE b
    SET b.DisplayOrder = o.RowNum
    FROM Demo_SubRecipe_BOM b
    INNER JOIN OrderedBOM o ON b.BOMLineID = o.BOMLineID
    
    PRINT 'Γ£ô Initial DisplayOrder values set for Demo_SubRecipe_BOM'
    PRINT ''
END
GO

-- Add DisplayOrder to Demo_Product_BOM
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_Product_BOM') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Adding DisplayOrder column to Demo_Product_BOM...'
    ALTER TABLE Demo_Product_BOM
    ADD DisplayOrder INT NULL
    
    PRINT 'Γ£ô DisplayOrder added to Demo_Product_BOM'
    PRINT ''
END
ELSE
BEGIN
    PRINT 'DisplayOrder already exists in Demo_Product_BOM'
    PRINT ''
END
GO

-- Set initial DisplayOrder values for Demo_Product_BOM
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_Product_BOM') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Setting initial DisplayOrder values for Demo_Product_BOM based on Quantity...'
    ;WITH OrderedBOM AS (
        SELECT 
            BOMLineID,
            ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Quantity DESC) AS RowNum
        FROM Demo_Product_BOM
    )
    UPDATE b
    SET b.DisplayOrder = o.RowNum
    FROM Demo_Product_BOM b
    INNER JOIN OrderedBOM o ON b.BOMLineID = o.BOMLineID
    
    PRINT 'Γ£ô Initial DisplayOrder values set for Demo_Product_BOM'
    PRINT ''
END
GO

PRINT '========================================='
PRINT 'DISPLAYORDER SETUP COMPLETE'
PRINT '========================================='
PRINT ''
PRINT 'BOM tables now support custom ingredient ordering:'
PRINT '  - Demo_SubRecipe_BOM.DisplayOrder'
PRINT '  - Demo_Product_BOM.DisplayOrder'
PRINT ''
PRINT 'Initial values set based on Quantity (highest first)'
PRINT 'Use Up/Down arrows in forms to reorder ingredients'
PRINT ''
