-- =============================================
-- ADD DISPLAYORDER TO INGREDIENTS TABLES
-- =============================================
-- Adds DisplayOrder column to Demo_SubRecipe_Ingredients and Demo_Product_BOM
-- =============================================

PRINT '========================================='
PRINT 'ADDING DISPLAYORDER TO INGREDIENTS TABLES'
PRINT '========================================='
PRINT ''

-- Add DisplayOrder to Demo_SubRecipe_Ingredients
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_SubRecipe_Ingredients') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Adding DisplayOrder column to Demo_SubRecipe_Ingredients...'
    ALTER TABLE Demo_SubRecipe_Ingredients
    ADD DisplayOrder INT NULL
    
    PRINT 'Γ£ô DisplayOrder added to Demo_SubRecipe_Ingredients'
    PRINT ''
END
ELSE
BEGIN
    PRINT 'DisplayOrder already exists in Demo_SubRecipe_Ingredients'
    PRINT ''
END
GO

-- Set initial DisplayOrder values for Demo_SubRecipe_Ingredients
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_SubRecipe_Ingredients') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Setting initial DisplayOrder values for Demo_SubRecipe_Ingredients based on Quantity...'
    ;WITH OrderedIngredients AS (
        SELECT 
            IngredientLineID,
            ROW_NUMBER() OVER (PARTITION BY SubRecipeID ORDER BY Quantity DESC) AS RowNum
        FROM Demo_SubRecipe_Ingredients
    )
    UPDATE i
    SET i.DisplayOrder = o.RowNum
    FROM Demo_SubRecipe_Ingredients i
    INNER JOIN OrderedIngredients o ON i.IngredientLineID = o.IngredientLineID
    
    PRINT 'Γ£ô Initial DisplayOrder values set for Demo_SubRecipe_Ingredients'
    PRINT ''
END
GO

-- Add DisplayOrder to Demo_ProductRecipe_BOM
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_ProductRecipe_BOM') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Adding DisplayOrder column to Demo_ProductRecipe_BOM...'
    ALTER TABLE Demo_ProductRecipe_BOM
    ADD DisplayOrder INT NULL
    
    PRINT 'Γ£ô DisplayOrder added to Demo_ProductRecipe_BOM'
    PRINT ''
END
ELSE
BEGIN
    PRINT 'DisplayOrder already exists in Demo_ProductRecipe_BOM'
    PRINT ''
END
GO

-- Set initial DisplayOrder values for Demo_ProductRecipe_BOM
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID('Demo_ProductRecipe_BOM') AND name = 'DisplayOrder')
BEGIN
    PRINT 'Setting initial DisplayOrder values for Demo_ProductRecipe_BOM based on Quantity...'
    ;WITH OrderedBOM AS (
        SELECT 
            BOMLineID,
            ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Quantity DESC) AS RowNum
        FROM Demo_ProductRecipe_BOM
    )
    UPDATE b
    SET b.DisplayOrder = o.RowNum
    FROM Demo_ProductRecipe_BOM b
    INNER JOIN OrderedBOM o ON b.BOMLineID = o.BOMLineID
    
    PRINT 'Γ£ô Initial DisplayOrder values set for Demo_ProductRecipe_BOM'
    PRINT ''
END
GO

PRINT '========================================='
PRINT 'DISPLAYORDER SETUP COMPLETE'
PRINT '========================================='
PRINT ''
PRINT 'Tables now support custom ingredient ordering:'
PRINT '  - Demo_SubRecipe_Ingredients.DisplayOrder'
PRINT '  - Demo_ProductRecipe_BOM.DisplayOrder'
PRINT ''
PRINT 'Initial values set based on Quantity (highest first)'
PRINT 'Use Up/Down arrows in forms to reorder ingredients'
PRINT ''
