-- =============================================
-- UPDATE MENU REGISTRY FOR SCANNER
-- =============================================
-- Updates MenuRegistry table to match MenuRegistryScannerForm expectations
-- New schema: MenuPath, MenuLevel, ParentPath, DisplayName, ModuleName
-- =============================================

PRINT '========================================='
PRINT 'UPDATING MENU REGISTRY SCHEMA FOR SCANNER'
PRINT '========================================='
PRINT ''

-- Drop existing table
IF EXISTS (SELECT * FROM sys.tables WHERE name = 'MenuRegistry')
BEGIN
    PRINT 'Dropping old MenuRegistry table...'
    DROP TABLE MenuRegistry
    PRINT 'Γ£ô Old table dropped'
    PRINT ''
END

-- Create table with scanner-compatible schema
PRINT 'Creating MenuRegistry with scanner schema...'
CREATE TABLE MenuRegistry (
    MenuID INT IDENTITY(1,1) PRIMARY KEY,
    MenuPath NVARCHAR(500) NOT NULL,
    MenuLevel INT NOT NULL,
    ParentPath NVARCHAR(500) NULL,
    DisplayName NVARCHAR(200) NOT NULL,
    ModuleName NVARCHAR(100) NOT NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedDate DATETIME DEFAULT GETDATE(),
    CONSTRAINT UQ_MenuRegistry_MenuPath UNIQUE (MenuPath)
)

PRINT 'Γ£ô MenuRegistry table created'
PRINT ''

-- Create index for performance
CREATE INDEX IX_MenuRegistry_ParentPath ON MenuRegistry(ParentPath)
CREATE INDEX IX_MenuRegistry_ModuleName ON MenuRegistry(ModuleName)
CREATE INDEX IX_MenuRegistry_MenuLevel ON MenuRegistry(MenuLevel)

PRINT 'Γ£ô Indexes created'
PRINT ''

PRINT '========================================='
PRINT 'UPDATE COMPLETE'
PRINT '========================================='
PRINT ''
PRINT 'MenuRegistry table now has scanner-compatible schema:'
PRINT '  - MenuPath (full hierarchical path, e.g., "Administration > User Management")'
PRINT '  - MenuLevel (1 for top-level, 2 for sub-menu, etc.)'
PRINT '  - ParentPath (path of parent menu, NULL for top-level)'
PRINT '  - DisplayName (menu item display text)'
PRINT '  - ModuleName (top-level module name)'
PRINT ''
PRINT 'You can now use the Menu Registry Scanner to populate this table.'
PRINT ''
