-- =============================================
-- UPDATE sp_SaveProductRecipeBOM TO SUPPORT DISPLAYORDER
-- =============================================

IF OBJECT_ID('sp_SaveProductRecipeBOM', 'P') IS NOT NULL
    DROP PROCEDURE sp_SaveProductRecipeBOM;
GO

CREATE PROCEDURE sp_SaveProductRecipeBOM
    @ProductID INT,
    @ComponentID INT,
    @ComponentType VARCHAR(20),
    @Quantity DECIMAL(18,4),
    @CostPerUnit DECIMAL(18,6),
    @DisplayOrder INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Delete existing component if it exists (to avoid duplicates)
        DELETE FROM Demo_ProductRecipe_BOM
        WHERE ProductID = @ProductID 
          AND ComponentID = @ComponentID
          AND ComponentType = @ComponentType;
        
        -- Insert the component with DisplayOrder
        INSERT INTO Demo_ProductRecipe_BOM (
            ProductID,
            ComponentID,
            ComponentType,
            Quantity,
            CostPerUnit,
            DisplayOrder,
            IsActive,
            CreatedDate
        )
        VALUES (
            @ProductID,
            @ComponentID,
            @ComponentType,
            @Quantity,
            @CostPerUnit,
            @DisplayOrder,
            1,
            GETDATE()
        );
        
        SELECT 'SUCCESS' AS Result;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO

PRINT 'Γ£à Updated sp_SaveProductRecipeBOM to support DisplayOrder';
GO
